/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* background-color: rgba(0, 128, 0, 0.145); */
  transition: 100ms;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: allow) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------- CSS RESET ABOVE !! ------------ */

/* * {
  background-color: rgba(0, 166, 39, 0.066);
} */

:root {
  --clr-primary-accent: #ff7920;
  --clr-bg: #f6f6f6;
  --clr-primary: #ffffff;

  --fc-primary: #2a2a2a;
  --fc-secondary: #868686;

  --ff-primary: "Roboto", serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-head: 2rem;
  --fs-regular: 1.5rem;
  --fs-footer: 0.816rem;

  --shadow: #5e5e5e17;
}

@media screen and (max-width: 400px) {
  :root {
    --clr-primary-accent: #ff7920;
    --clr-bg: #f6f6f6;
    --clr-primary: #ffffff;

    --fc-primary: #2a2a2a;
    --fc-secondary: #868686;

    --ff-primary: "Roboto", serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-head: 1.8rem;
    --fs-regular: 1.2rem;
    --fs-footer: 0.816rem;

    --shadow: #5e5e5e17;
  }
}

.dark-theme {
  --dark-clr-primary-accent: var(--dark-clr-bg);
  --dark-clr-bg: #232323;
  --dark-clr-primary: #161616;

  --dark-fc-primary: #c6c6c6;
  --dark-fc-secondary: #a5a5a5;

  --dark-shadow: #03030315;

  --clr-primary-accent: var(--dark-clr-primary-accent);
  --clr-bg: var(--dark-clr-bg);
  --clr-primary: var(--dark-clr-primary);

  --fc-primary: var(--dark-fc-primary);
  --fc-secondary: var(--dark-fc-secondary);

  --shadow: var(--dark-shadow);
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-bg);
  transition: 200ms;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================ HEADER ================*/
/* Light mode and Dark mode */
.theme {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;

  display: flex;
  justify-content: right;
  align-items: center;
  padding: 50px;
  height: 60px;
}

@media screen and (max-width: 400px) {
  .theme {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;

    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    height: 60px;
  }
}

.theme .container {
  display: flex;
  justify-content: right;
}

img {
  height: 24px;
  transition: 150ms;

  user-select: none;
}

img:hover {
  rotate: -40deg;
  height: 24px;
  cursor: pointer;
}

#lightmode-icon,
#darkmode-icon {
  position: relative;
  z-index: 1;
  transition: 150ms;
}

#lightmode-icon {
  display: block;
}
#darkmode-icon {
  display: none;
}

/* ================ MAIN ================*/
/* Lists of tasks */
.to-do-list {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
}

.to-do-list .container {
  background-color: var(--clr-primary);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  /* height: 100vh; */
  height: 650px;
  max-height: 650px;
  width: 500px;
  max-width: 650px;
  padding-inline: 70px;
  transition: 200ms;

  border-radius: 10px;

  position: relative;
}

/* custom shadow */
.to-do-list .container::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;

  height: inherit;
  max-height: inherit;
  width: inherit;
  filter: blur(10px);

  background-color: var(--shadow);
  border-radius: 5px;
  transition: 200ms;
  z-index: -1;
}

@media screen and (max-width: 400px) {
  body {
    background-color: var(--clr-primary);
  }

  .to-do-list .container {
    max-height: 100dvh;
    padding-inline: 30px;
    width: 300px;
    height: 100dvh;
  }

  .to-do-list .container::before {
    display: none;
  }
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--fc-primary);
  font-size: var(--fs-head);
  font-weight: var(--fw-bold);
  width: 100%;
  margin-top: 70px;
}

/* lists of checklists */
.tasks {
  display: flex;
  width: 100%;
  margin-top: 50px;
  height: 400px;
  max-height: 400px;
}

.tasks ul {
  display: flex;
  width: 100%;

  flex-direction: column;
}

ul li {
  list-style: none;
  user-select: none;

  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--fc-primary);
  max-width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 35px;

  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  top: inherit;
  left: 0;
  transform: translate(0%, 0%);

  text-decoration: line-through;
  height: 24px;
  width: 24px;
  background-image: url(./icons/unchecked.svg);
  background-size: cover;
  background-position: center;

  transition: 100ms;
  cursor: pointer;
}

.checked {
  color: var(--fc-secondary);
  text-decoration: line-through;
}

.checked::before {
  text-decoration: line-through;
  background-image: url(./icons/checked.svg);
}

/* remove tasks button */
ul li span {
  position: absolute;
  right: 0;

  color: var(--fc-secondary);
}

ul li span:hover {
  cursor: pointer;
  font-weight: var(--fw-bold);
}

/* ================ ADD-TASKS ================*/
#add-tasks {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#add-tasks input {
  width: 100%;
  margin-right: 5px;
  border-radius: 5px;

  border: 1px solid #86868670;
  color: var(--fc-primary);
  padding-left: 5px;
  background-color: var(--clr-primary);
  transition: 200ms;
}

#add-tasks button {
  width: 100px;
  border-radius: 5px;

  color: white;
  border: 1px solid var(--clr-primary-accent);
  background-color: var(--clr-primary-accent);

  transition: 100ms;
}

#add-tasks button:hover {
  cursor: pointer;
  transform: translate(0px, -2px);
  box-shadow: 0px 2px #b35516;
}

@media screen and (max-width: 450px) {
  #add-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100px;
  }

  #add-tasks input {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    height: 400px;

    transition: 100ms;
  }

  #add-tasks button {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    height: 400px;

    color: white;
    border: 1px solid var(--clr-primary-accent);

    transition: 100ms;
  }
}

/* ================ FOOTER ================*/
